# This file describes a Fastly Compute@Edge package. To learn more visit:
# https://developer.fastly.com/reference/fastly-toml/

authors = ["jchampion@fastly.com"]
description = ""
language = "rust"
manifest_version = 2
name = "object-store-rust-starter-kit"
service_id = ""

[scripts]
  build = "cargo build --bin fastly-compute-project --release --target wasm32-wasi --color always"

[local_server]
[local_server.object_store]
[[local_server.object_store.my-store]]
  key = "readme"
  path = "./README.md"

[setup]
[setup.object_stores]
[setup.object_stores.my-store]
  description = "My first object store"